*.o
*.a
*.lo
*.la
*.pc
Makefile
Makefile.in
.deps
.libs

env

COPYING
Doxyfile
INSTALL
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
test-driver
regex/regex-switch.h
